<div class="content" ng-controller="registerWizardController">
    <div class="register-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h2>Register</h2>
                    <h4>Get your Spectrum Operational account today.</h4>
                </div>
                <div class="hpanel">
                    <div class="panel-body">

                        <form name="Registration" id="Registration">

                            <div class="text-center m-b-md">
                                <a ng-click="wizard.show(1)" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}">Step 1 - Basic Data</a>
                                <a ng-click="wizard.show(2)" class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}">Step 2 - User Profile</a>
                                <a ng-click="wizard.show(3)" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 3}">Step 3 - Organization Profile</a>
                            </div>

                            <div ng-show="step == 1" class="p-m">

                                <div class="row">
                                    <div class="row form-group">
                                        <div class="col-md-6">
                                            <label>Email Address <span class="text-warning">- this will be your login id</span></label>
                                            <input type="email" value="" id="" class="form-control" name="Email" ng-model="registerViewModel.Email">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Verify Email Address</label>
                                            <input type="email" value="" id="" class="form-control" name="ConfirmEmail" ng-model="registerViewModel.ConfirmEmail">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-6">
                                            <label>Organization Name</label>
                                            <input type="text" value="" id="" class="form-control" name="OrganizationName" ng-model="registerViewModel.OrganizationName">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Organization Type</label>
                                            <select class="form-control m-b" name="OrganizationType" ng-model="registerViewModel.OrganizationTypeId">
                                                @foreach (var t in Model.OrganizationTypes)
                                                {
                                                    <option value="@t.OrganizationTypeId" name="@t.Name">@t.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input type="password" value="" id="" class="form-control" name="Password" ng-model="registerViewModel.Password">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Verify Password</label>
                                            <input type="password" value="" id="" class="form-control" name="ConfirmPassword" ng-model="registerViewModel.ConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <input type="checkbox" name="NewsletterSubscribe" checked ng-model="registerViewModel.NewsletterSubscribe">
                                            Please keep me informed of the latest Spectrum Operational news and events. <strong>We <u>never</u> sell or share your information with third parties.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="step == 2" class="p-m">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="firstName">First Name</label>
                                            <input type="text" id="firstName" name="FirstName" placeholder="First Name" ng-model="registerViewModel.FirstName" class="form-control" name="firstName">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" id="lastName" name="LastName" placeholder="Last Name" ng-model="registerViewModel.LastName" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="nickName">Nickname or Preferred Name</label>
                                            <input type="text" id="nickName" placeholder="Nickname" name="Nickname" ng-model="registerViewModel.Nickname" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="Street1">Street Address</label>
                                            <input type="text" id="Street1" placeholder="Street address line 1" name="Street1" ng-model="registerViewModel.Street1" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="Street1">Street Line 2 </label>
                                            <input type="text" id="Street2" placeholder="Suite, building number, mail stop etc." name="Street2" ng-model="registerViewModel.Street2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="City">City</label>
                                            <input type="text" id="City" name="City" placeholder="City" ng-model="registerViewModel.City" class="form-control" name="firstName">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="State">State</label>
                                            <input type="text" id="State" name="State" placeholder="State" ng-model="registerViewModel.State" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Zip">Zip</label>
                                            <input type="text" id="Zip" placeholder="Zip" name="Zip" ng-model="registerViewModel.Zip" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="UserPhone">Phone</label>
                                            <input type="text" id="UserPhone" name="UserPhone" placeholder="Phone" ng-model="registerViewModel.UserPhone" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="language">Language</label>
                                            <input type="text" id="language" placeholder="Language" name="Language" ng-model="registerViewModel.Language" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="step == 3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="primaryContact">Primary Contact</label>
                                            <input type="text" Id="primaryContact" name="PrimaryContact" placeholder="Contact Name" ng-model="registerViewModel.PrimaryContact" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="phone">Phone</label>
                                            <input type="tel" id="phone" name="OrgPhone" placeholder="Phone" ng-model="registerViewModel.OrgPhone" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="OrgEmail">Email</label>
                                            <input type="text" id="OrgEmail" name="OrgEmail" placeholder="Email" ng-model="registerViewModel.OrgEmail" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="Street1">Street Address</label>
                                            <input type="text" id="Street1" placeholder="Street address line 1" name="Street1" ng-model="registerViewModel.Street1" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="Street1">Street Line 2 </label>
                                            <input type="text" id="Street2" placeholder="Suite, building number, mail stop etc." name="Street2" ng-model="registerViewModel.Street2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="City">City</label>
                                            <input type="text" id="City" name="City" placeholder="City" ng-model="registerViewModel.City" class="form-control" name="firstName">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="State">State</label>
                                            <input type="text" id="State" name="State" placeholder="State" ng-model="registerViewModel.State" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Zip">Zip</label>
                                            <input type="text" id="Zip" placeholder="Zip" name="Zip" ng-model="registerViewModel.Zip" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="county">County</label>
                                            <input type="text" id="county" placeholder="County" name="County" ng-model="registerViewModel.County" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="language">Language</label>
                                            <input type="text" id="orgLanguage" name="OrgLanguage" placeholder="Language" ng-model="registerViewModel.OrgLanguage" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right m-t-xs">
                                <button ng-click="wizard.prev()" ng-disabled="step == 1" class="btn btn-default">Previous</button>
                                <button ng-click="wizard.next()" ng-disabled="step == 3" ng-hide="step == 3" class="btn btn-success">Next</button>
                                <button ng-click="submit()" ng-show="step == 3" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>