<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>c:\temp\spectrum.web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SpectrumCore" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Spectrum.Data.Core.Context.CoreDbContext, Spectrum.Data.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Spectrum.Data.Core.Context.BaseClasses.ContextBase`1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Spectrum.Data.Core.Context.BaseClasses.ContextBase`1, Spectrum.Data.Core" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Spectrum.Data.Core.Context.BaseClasses.ContextBase`1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpectrumCore-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Spectrum.Data.Core.Context.BaseClasses.ContextBase`1" />
  </ItemGroup>
	
	
	
	<Target Name="CustomCollectFiles">
		<ItemGroup>
			<_CustomFiles Include="..\bower_components\**\*" />
			<FilesForPackagingFromProject Include="%(_CustomFiles.Identity)">
				<DestinationRelativePath>%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
			</FilesForPackagingFromProject>
		</ItemGroup>
	</Target>
	<PropertyGroup>
		<CopyAllFilesToSingleFolderForPackageDependsOn>
			CustomCollectFiles;
			$(CopyAllFilesToSingleFolderForPackageDependsOn);
		</CopyAllFilesToSingleFolderForPackageDependsOn>

		<CopyAllFilesToSingleFolderForMsdeployDependsOn>
			CustomCollectFiles;
			$(CopyAllFilesToSingleFolderForPackageDependsOn);
		</CopyAllFilesToSingleFolderForMsdeployDependsOn>
	</PropertyGroup>
	
	
</Project>