<div class="modal-dialog">

    <div class="modal-header">
        <h4 class="modal-title">Add a Profile</h4>
        <small class="font-bold">Add a profile for this user.</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div><label> <input icheck type="checkbox" name="checkboxDefault" ng-model="userProfile.Default"> Make this my default profile </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="organization">Organization</label>
                        <input type="text" id="organization" placeholder="Organization" ng-model="userProfile.OrganizationId" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="profileName">Profile Name</label>
                        <input type="text" Id="profileName" placeholder="Profile Name" ng-model="userProfile.ProfileName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="title">Title</label>
                        <input type="text" Id="title" placeholder="Title" ng-model="userProfile.Title" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="title">Position</label>
                        <input type="text" Id="position" placeholder="Position" ng-model="userProfile.Position" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" placeholder="First Name" ng-model="userProfile.FirstName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="middleName">Middle Name</label>
                        <input type="text" id="middleName" placeholder="Middle Name" ng-model="userProfile.MiddleName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" placeholder="Last Name" ng-model="userProfile.LastName" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="nickName">Nickname</label>                        
                        <input type="text" id="nickName" placeholder="Nickname" ng-model="userProfile.Nickname" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="secondaryMail">Secondary Mail</label> 
                        <input type="text" id="secondaryMail" placeholder="Secondary Email" ng-model="userProfile.SecondaryEmail" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="secondaryMail">Secondary Phone</label> 
                        <input type="text" id="secondaryPhone" placeholder="Secondary Phone" ng-model="userProfile.SecondaryPhone" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="timeZone">TimeZone</label> 
                        <input type="text" id="timeZone" placeholder="TimeZone" ng-model="userProfile.TimeZone" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="language">Language</label>
                        <input type="text" id="language" placeholder="Language" ng-model="userProfile.Language" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="ok(userProfile)">Save changes</button>
</div>