<div ng-controller="UserPanelController">
    <div small-header class="normalheader transition">
        <div class="hpanel" title="Page header" content="Place your page title and breadcrumb." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a ui-sref="grid"><span class="label label-info">Switch to Grid View</span></a>
                        </div>
                    </div>
                </div>
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@Url.Action("Index", "Portal")">Portal</a></li>
                        <li><a href="@Url.Action("Index", "User")">Users - Panel View</a></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Users
                </h2>
                <small>Manage users for your organization</small>
            </div>
        </div>
    </div>

    <div small-header child="row" class="normalheader transition">
        <div animate-panel effect="fadeInUp">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="col-lg-10">
                            <div class="input-group m-b">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Search</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Search users...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class=pull-right>
                                <div style="padding-bottom: 15px">
                                    <button id="add" class="btn btn-primary" ng-click="add()">Add a User</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
            <div animate-panel child="col-lg-4" effect="fadeInRight">
                <div class="row" ng-repeat="rows in chunkedUsers" >
                    <div class="col-lg-4" ng-repeat="u in rows track by u.id" >
                        <div class="hpanel hblue contact-panel">
                            <div class="panel-heading hbuilt">
                                <div panel-tools></div>
                                {{ u.userName }}
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">User Name: </label> {{ u.userName }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Email: </label> {{ u.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="btn-toolbar">
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-default" ng-click="edit({{ u }})">Edit</button>
                                        <button class="btn btn-sm btn-default" ng-click="userprofiles({{ u }})">Profiles</button>
                                        <button class="btn btn-sm btn-default" ng-click="roles({{ u }})">Roles</button>
                                        <button class="btn btn-sm btn-default" ng-click="positions({{ u }})">Positions</button>
                                        <button class="btn btn-sm btn-default" ng-click="delete({{ u }})">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
