<div ng-controller="UserProfileController as userProfileController">
    <div small-header class="normalheader transition">
        <div class="hpanel" title="Page header" content="Place your page title and breadcrumb." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@Url.Action("Index", "Portal")">Portal</a></li>
                        <li><a href="@Url.Action("Index", "User")">Users</a></li>
                        <li><a href="#">User Profiles</a></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    User Profile
                </h2>
                <small>Manage user profiles</small>
            </div>
        </div>
    </div>

    <div small-header child="row" class="normalheader transition">
        <div animate-panel effect="fadeInUp">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="col-lg-10">
                            <div class="input-group m-b">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Search</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Search user profiles...">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class=pull-right>
                                <div style="padding-bottom: 15px">
                                    <button id="add" class="btn btn-primary" ng-click="add()">Add a User Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div ng-repeat="p in data.userProfiles">
            <div animate-panel child="row" effect="fadeInUp">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt">
                                <div panel-tools></div>
                                {{ p.profileName }} Profile
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">First Name: </label> {{ p.firstName }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Middle Name: </label> {{ p.middleName }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Last Name: </label> {{ p.lastName }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">Nickname: </label> {{ p.nickname }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Title: </label> {{ p.title }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">Secondary Email: </label> {{ p.secondaryEmail }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Secondary Phone: </label> {{ p.secondaryPhone }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">Language: </label> {{ p.language }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class=" control-label">Time Zone: </label> {{ p.timeZone }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Adjust for DST: </label> {{ p.dstAdjust }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="btn-toolbar">
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-default" ng-click="edit({{ p }})">Edit</button>
                                        <button class="btn btn-sm btn-default" ng-click="delete({{ p }})">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>