@{
    ViewBag.Title = "FileManager";
}

@section Styles {

}

<div ui-view></div>

@section Scripts {
    @*<script src="~/Scripts/spectrum-core/filemanager-index.js"></script>*@

}


