@{
    ViewBag.Title = "FileManager";
}

@section Styles {
    <link href="~/bower_components/angular-filemanager/dist/angular-filemanager.css" rel="stylesheet" />
}

<div ui-view>
    <div>
        <angular-filemanager></angular-filemanager>
    </div>
</div>

@section Scripts {
    <script src="~/bower_components/angular-translate/angular-translate.js"></script>
    <script src="~/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="~/bower_components/angular-filemanager/dist/angular-filemanager.min.js"></script>
    @*<script src="~/Scripts/spectrum-core/filemanager-index.js"></script>*@

    <script type="text/javascript">
        //example to override angular-filemanager default config
        //angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
        //  var defaults = config.$get();
        //  config.set({
        //    appName: 'github.com/joni2back/angular-filemanager',
        //    allowedActions: angular.extend(defaults.allowedActions, {
        //      remove: true
        //    })
        //  });
        //}]);
    </script>
}


