<div class="modal-dialog" ng-controller="identityFocusController">
    <div class="modal-header">
        <h4 class="modal-title">Change Identity Focus</h4>
        <small class="font-bold">Select the user organization and role to access the information in that context</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-7 dropdown">
                        <label for="selectedOrganization">Organization</label>
                        <select class="form-control m-b" name="selectedOrganizationId" id="selectedOrganizationId" ng-model="currentUser.selectedOrganizationId">
                            <option ng-repeat="option in organizations" value="{{option.organizationId}}" ng-selected="currentUser.selectedOrganizationId === option.organizationId">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label for="selectedRole">Role</label>
                        <select class="form-control m-b" name="selectedRole" id="selectedRole" ng-model="currentUser.selectedRoleId">
                            <option ng-repeat="option in roles" value="{{option.roleId}}" ng-selected="currentUser.selectedRoleId === option.roleId">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label for="selectedPosition">Position</label>
                        <select class="form-control m-b" name="selectedOrganizationId" id="selectedPosition" ng-model="currentUser.selectedPositionId">
                            <option ng-repeat="option in positions" value="{{option.positionId}}" ng-selected="currentUser.selectedPositionId === option.positionId">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" type="button">Close</button>
    <button class="btn btn-success" ng-click="ok(currentUser)" type="button">Change Focus</button>
</div>
