<div class="identity-focus-popover">
    @*<label>You Are: {{ currentUser.userName }}</label>*@
    <label>Organization:</label> {{ currentUser.selectedOrganizationName}} <br/>
    <label>Role:</label> {{ currentUser.selectedRoleName }} <br/>
    <label>Position:</label> {{ currentUser.selectedPositionName }}<br/>
    @*<i class="pull-right">...click to change</i>*@
</div>


@*<div class="no-corners">
    <ul class="filedropdown">
        <li>
            <label>Organization:</label> {{ currentUser.selectedOrganizationName}}
        </li>
        <li>
            <label>Role:</label> {{ currentUser.selectedRoleName }}
        </li>
        <li>
            <label>Position:</label> {{ currentUser.selectedPositionName }}
        </li>
    </ul>
</div>*@