body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.navbar-logo {
    padding-left: 10px
}

.identity-focus {
    min-width: 200px;
    font-size: 16px !important;
}

.popover {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.no-corners {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}


.identity-focus-popover {
    -moz-min-width: 225px;
    -ms-min-width: 225px;
    -o-min-width: 225px;
    -webkit-min-width: 225px;
    min-width: 225px;
    font-size: 12px !important;
}


i.if-icon {
    font-size: 24px !important;
}

span.if-label {
    vertical-align: text-top;
}

.label-primary {
  background-color: #34495e;
  border-color: #34495e;
  color: #FFFFFF ;
}

.incident-panel-footer {
    font-size: 12px;
    margin-right: 5px;
}