@model IEnumerable<Spectrum.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/Scripts/spectrum-core/users-index.js"></script>
    <script src="~/Scripts/spectrum-core/userprofiles-index.js"></script>
}
