@model IEnumerable<Spectrum.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/Scripts/app/core/users-index.js"></script>
    <script src="~/Scripts/app/core/usersgrid-index.js"></script>
    <script src="~/Scripts/app/core/user-profiles.js"></script>
    <script src="~/Scripts/app/core/user-roles.js"></script>
    <script src="~/Scripts/app/core/user-positions.js"></script>
}
