@{
    ViewBag.Title = "EOC - Incident Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
<link href="~/bower_components/angular-timeline/dist/angular-timeline-bootstrap.css" rel="stylesheet" />
<link href="~/bower_components/angular-timeline/dist/angular-timeline-animations.css" rel="stylesheet" />
<link href="~/bower_components/angular-timeline/dist/angular-timeline.css" rel="stylesheet" />
}

<div ui-view></div>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/eoc/dashboard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/eoc/incident-timeline-ctrl.js")" type="text/javascript"></script>
}