<div class="modal-dialog">

    <div class="modal-header">
        <h4 class="modal-title">Delete Incident</h4>
        <small class="font-bold">Do you want to remove this incident?</small>
    </div>

    <div class="modal-body">
        <div class="well well-sm">
            <p>Do you want to remove incident {{incidentName}}?</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default"
            ng-click="cancel()"
            type="button">
        Cancel
    </button>
    <button class="btn btn-success"
            ng-click="delete(incidentId)"
            type="button">
        Delete
    </button>
</div>