<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Spectrum Operational | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    <link href="~/bower_components/angular-notify/dist/angular-notify.min.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet" />
    <link href="~/bower_components/animate.css/animate.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet" />
    <link href="~/bower_components/ui-select/dist/select.min.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/bower_components/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-ui-grid/ui-grid.css" rel="stylesheet" />
    <link href="~/bower_components/angular-timeline/dist/angular-timeline.css" rel="stylesheet" />
    <link href="~/bower_components/angular-timeline/dist/angular-timeline-animations.css" rel="stylesheet" />
    <link href="~/bower_components/angular-timeline/dist/angular-timeline-bootstrap.css" rel="stylesheet" />

    <!-- Fonts and Icons -->
    <link href="~/Content/icons/pe-icon-7-stroke/helper.css" rel="stylesheet" />
    <link href="~/Content/icons/pe-icon-7-stroke/pe-icon-7-stroke.css" rel="stylesheet" />

    <link href="~/Content/fonts/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fonts/open-sans/OpenSans.css" rel="stylesheet" />

    <!-- Site styles -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet"/>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)
    }

</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>Spectrum Operational - Emergency Management Suite</h1>
            <p>
                The ultimate collaborative suite for emergency management teams and organizations.
            </p><img src="~/Content/images/loading-bars.svg" width="64" height="64" />
        </div>
    </div>

    <div class="color-line"></div>

<div class="pull-left m">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Homepage</a>
</div>

    <!-- Main view -->
    @RenderBody()

    <!-- Section for main scripts render -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bower_components/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/jquery-flot/jquery.flot.js"></script>
    <script src="~/bower_components/jquery-flot/jquery.flot.resize.js"></script>
    <script src="~/bower_components/jquery-flot/jquery.flot.pie.js"></script>
    <script src="~/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="~/bower_components/jquery.flot.spline/index.js"></script>
    <script src="~/bower_components/angular-flot/angular-flot.js"></script>
    <script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/bower_components/sparkline/index.js"></script>
    <script src="~/bower_components/chartjs/Chart.min.js"></script>
    <script src="~/bower_components/angles/angles.js"></script>
    <script src="~/bower_components/peity/jquery.peity.js"></script>
    <script src="~/bower_components/angular-peity/angular-peity.js"></script>
    <script src="~/bower_components/angular-notify/dist/angular-notify.min.js"></script>
    <script src="~/bower_components/angles/angles.js"></script>
    <script src="~/bower_components/angular-ui-utils/modules/utils.js"></script>
    <script src="~/bower_components/angular-ui-map/ui-map.js"></script>
    <script src="~/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="~/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="~/bower_components/ui-select/dist/select.js"></script>
    <script src="~/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="~/bower_components/angular-touch/angular-touch.js"></script>
    <script src="~/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/bower_components/angular-ui-event/dist/event.min.js"></script>
    <script src="~/bower_components/angular-timeline/dist/angular-timeline.js"></script>

    <!-- Local controllers -->
    <script src="~/Scripts/homer.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/core/core.module.js"></script>
    <script src="~/Scripts/app/eoc/eoc.module.js"></script>

    <script src="~/Scripts/app/directives/directives.js"></script>
    <script src="~/Scripts/app/directives/loading-directive.js"></script>

    <script src="~/Scripts/app/data/data.module.js"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
