<div class="modal-dialog">

    <div class="modal-header">
        <h4 class="modal-title">Add an Organization Profile</h4>
        <small class="font-bold">Add a profile for this organization</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label>
                                <input type="checkbox" ng-model="organizationProfile.Default"> Make this the organization default profile
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="profileName">Profile Name</label>
                        <input type="text" Id="profileName" placeholder="Profile Name" ng-model="organizationProfile.profileName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="title">Description</label>
                        <input type="text" Id="title" placeholder="Description" ng-model="organizationProfile.description" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="title">Primary Contact</label>
                        <input type="text" Id="primaryContact" placeholder="Contact Name" ng-model="organizationProfile.primaryContact" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" placeholder="Phone" ng-model="organizationProfile.phone" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="fax">Fax</label>
                        <input type="tel" id="fax" placeholder="Fax Number" ng-model="organizationProfile.fax" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="email">Email</label>                        
                        <input type="text" id="email" placeholder="Email" ng-model="organizationProfile.email" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="country">Country</label> 
                        <input type="text" id="country" placeholder="Country" ng-model="organizationProfile.country" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="county">County</label> 
                        <input type="text" id="county" placeholder="Secondary Phone" ng-model="organizationProfile.county" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="timeZone">TimeZone</label> 
                        <input type="text" id="timeZone" placeholder="Time Zone" ng-model="organizationProfile.timeZone" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="language">Language</label>
                        <input type="text" id="language" placeholder="Language" ng-model="organizationProfile.language" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="notes">Notes</label>
                        <textarea id="notes" rows="4" placeholder="Notes" ng-model="organizationProfile.notes" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="ok(organizationProfile)">Save changes</button>
</div>