<div class="modal-dialog">
    <div class="modal-header">
        <h4 class="modal-title">Delete Organization</h4>
        <small class="font-bold">Delete an Organization.</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="organizationName">Organization Name</label>
                        <input type="text" id="organizationName" placeholder="Name" ng-model="organization.name" class="form-control" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="TypeId">Organization Type</label>
                        <input type="text" id="TypeId" placeholder="organizationTypeName" ng-model="organization.organizationTypeName" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-danger" ng-click="ok(organization)">Delete</button>
</div>