<div class="modal-dialog">

    <div class="modal-header">
        <h4 class="modal-title">Edit an Organization</h4>
        <small class="font-bold">Edit an organization in the system.</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Name">Name</label>
                        <input type="text" id="Name" placeholder="Name" ng-model="organization.name" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="organizationType">Organization Type</label>
                        <select class="form-control m-b"
                                name="organizationType"
                                id="organizationType"
                                ng-model="selectedOrgType"
                                ng-options="o.name for o in organizationTypes">
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="ok(organization)">Save changes</button>
</div>