<div ng-controller="OrganizationPositionController as organizationPositionController">
    <div small-header class="normalheader transition">
        <div class="hpanel" title="Page header" content="Place your page title and breadcrumb." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Organization")">Oragnization</a>
                        </li>
                        <li>
                            <a>Organization Position</a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Roles
                </h2>
                <small>Manage the psoitions used in your organization</small>
            </div>
        </div>
    </div>

    <div small-header child="row" class="normalheader transition">
        <div animate-panel effect="fadeInUp">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <div class="input-group m-b">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Search</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Search positions...">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class=pull-right>
                                <div style="padding-bottom: 15px">
                                    <button id="add" class="btn btn-primary" ng-click="add()">Add an Organizational Position</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div ng-repeat="p in data.organizationPositions track by p.Id">
            <div animate-panel child="row" effect="fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt">
                                <div panel-tools></div>
                                {{ p.Name }}
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">Position Name: </label> {{ p.Name }}
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Position Description: </label> {{ p.Description }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="btn-toolbar">
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-default" ng-click="edit({{ p }})">Edit</button>
                                        <button class="btn btn-sm btn-default" ng-click="delete({{ p }})">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

