@{
    ViewBag.Title = "EOC Checklist Index";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="~/Scripts/spectrum-eoc/checklists.js"></script>
}