@{
    ViewBag.Title = "Organizations";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/Scripts/app/core/organizations-index.js"></script>
    <script src="~/Scripts/app/core/organization-users.js"></script>
    <script src="~/Scripts/app/core/organization-profiles.js"></script>
    <script src="~/Scripts/app/core/organization-roles.js"></script>
    <script src="~/Scripts/app/core/organization-positions.js"></script>
}