@model IEnumerable<Spectrum.Web.Models.OrganizationViewModel>

@{
    ViewBag.Title = "Organizations";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/Scripts/spectrum-core/organizations-index.js"></script>
}


 