<div class="row" ng-controller="CheckListsController">

    <div small-header class="normalheader transition">
        <div class="hpanel" title="Page header" content="Place your page title and breadcrumb." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <a href="@Url.Action("", "")">EOC</a>
                        </li>
                        <li>
                            <a href="@Url.Action("", "")">Checklists</a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Checklists
                </h2>
                <small>Organize the steps of your checklist, just click and drag!</small>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h5>Search and Rescue Equipment Checklist</h5>
                        <br/>
                        <!-- list node template -->
                        <script type="text/ng-template" id="nodes_renderer.html">
                            <div ui-tree-handle class="tree-node tree-node-content">
                                <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-trash"></span></a>
                                <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-plus"></span></a>
                                <a class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}"></span></a>
                                {{node.title}}
                            </div>
                            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                </li>
                            </ol>
                        </script>
                        <div ui-tree id="tree-root">
                            <ol ui-tree-nodes ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Data binding
                        </div>
                        <div class="panel-body">
                            <pre>{{ data | json }}</pre>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
