/*
========= Place the UnderScoreS generated Text Description Here
*/


/* LEGEND
-----------------------------------------------
1.  Font Face/ Google Font 
2. 	Global
3. 	Contents
4. 	Asides
5. 	Media
6. 	Navigations (Next - Prev)
7. 	Comments
8. 	Widgets
9. 	Infinite Scroll
10. Page Layout (Author Styles proceed here) <<<<
11. Misc
12. Media Queries
*/

/* =Font Face/ Google Font
----------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@font-face {
    font-family: 'AkkuratRegular';
    src: url('fonts/akkurat.eot');
    src: url('fonts/akkurat.eot') format('embedded-opentype'),
         url('fonts/akkurat.woff') format('woff'),
         url('fonts/akkurat.ttf') format('truetype'),
         url('fonts/akkurat.svg#AkkuratRegular') format('svg');
}
@font-face {
    font-family: 'AkkuratBoldBold';
    src: url('fonts/akkurat-bold.eot');
    src: url('fonts/akkurat-bold.eot') format('embedded-opentype'),
         url('fonts/akkurat-bold.woff') format('woff'),
         url('fonts/akkurat-bold.ttf') format('truetype'),
         url('fonts/akkurat-bold.svg#AkkuratBoldBold') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/myriadpro-regular-1.eot');
    src: url('fonts/myriadpro-regular-1.eot') format('embedded-opentype'),
         url('fonts/myriadpro-regular-1.woff') format('woff'),
         url('fonts/myriadpro-regular-1.ttf') format('truetype'),
         url('fonts/myriadpro-regular-1.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-bold_1.eot');
    src: url('fonts/myriadpro-bold_1.eot') format('embedded-opentype'),
         url('fonts/myriadpro-bold_1.woff') format('woff'),
         url('fonts/myriadpro-bold_1.ttf') format('truetype'),
         url('fonts/myriadpro-bold_1.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('fonts/myriadpro-semibold_1.eot');
    src: url('fonts/myriadpro-semibold_1.eot') format('embedded-opentype'),
         url('fonts/myriadpro-semibold_1.woff') format('woff'),
         url('fonts/myriadpro-semibold_1.ttf') format('truetype'),
         url('fonts/myriadpro-semibold_1.svg#MyriadProSemibold') format('svg');
}






/* =Global
----------------------------------------------- */

body {
	color: #404040;
	font-family: AkkuratRegular, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	background: url(images/bg.png) no-repeat #f3f3f3 center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: sans-serif; /* Declare font family if necessary */
}

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* ============================================================================================
/* 		Author/ Designer Styles Start Here 
/* ============================================================================================

/* =Page Layout
----------------------------------------------- */

/* Please specify your container width here. e.g. 978px (PSD width) + 30px (15px left & 15px right - bootstrap gutter) =  1008px*/
.container {
	max-width: 1008px;
}

.site-header { background: url(images/header-bg.png) repeat-x #5bbde1; width: 100%; padding: 10px 0; }
.banner { position: relative; }
.banner img { width: 100%; }
.banner-content { background: url(images/trans-1.png) repeat; position: absolute; bottom: 0; left: 0; width: 100%; padding: 20px 0; }
.banner-content p { margin: 0; color: #fff; }
.banner-content a { display: block; float: right; margin: 10px 0; background-color: #2d79a9; border-radius: 3px; color: #fff; padding: 6px 10px; text-transform: uppercase; font-size: 14px; }

.services { background: url(images/texture-1.png) repeat; padding: 20px 0 0; }
.service-inner { background: url(images/cloud-1.png) repeat-x center bottom; }
.services h1 { text-align: center; font-size: 35px; margin: 20px 0; color: #313131; font-family: 'MyriadProRegular'; }

.service-list { padding: 20px 0 70px; }
.service-list img { border: 1px solid #d98636; }
.service-list h4 { margin: 20px 0; text-transform: uppercase; font-size: 15px; color: #313131; font-family: 'MyriadProBold'; }
.service-list p { font-size: 14px; color: #161616; }
.service-list a { background-color: #2d79a9; border-radius: 3px; color: #fff; padding: 6px 10px; text-transform: uppercase; font-size: 14px; }

.management { background: url(images/orange.png) repeat; padding: 20px 0 0; }
.management h1 { text-align: center; font-size: 35px; margin: 20px 0; color: #fff; font-family: 'MyriadProRegular'; }

.manage-list { padding: 20px 0 50px; text-align: center; }
.manage-list h4 { margin: 20px 0; text-transform: uppercase; font-size: 15px; color: #fff; font-weight: 700; }
.manage-list p { font-size: 14px; color: #fff; }
.manage-list a { font-size: 14px; color: #fff; text-decoration: underline; }

.slider { background: url(images/blue.png) repeat; padding: 40px 0 50px; }
.slider h1 { line-height: 50px; font-size: 35px; font-family: 'MyriadProBold'; margin: 0 0 35px; color: #fff; }
.slider h1 span { font-family: 'MyriadProRegular'; }
.slider a { display: inline-block; font-weight: bold; background-color: #2d79a9; border-radius: 3px; color: #fff; padding: 13px 40px; font-size: 17px; }
.bxslider { text-align: center; margin: 0; padding: 0; list-style: none; }

.idea { background: url(images/green.png) repeat; padding: 30px 0; }
.idea p { font-size: 18px; margin: 0 0 10px; color: #fff; }
.idea a { font-size: 15px; color: #fff; float: right; text-decoration: underline; }

.site-footer { background: url(images/lightblue.png) repeat; padding: 60px 0 40px; }
.site-footer h5 { font-size: 15px; font-family: 'MyriadProBold'; margin: 0 0 15px; color: #fff; }
.site-footer ul { margin: 0; padding: 0; list-style: none; }
.site-footer ul li { margin: 0 0 8px; }
.site-footer ul li a { color: #fff; font-size: 13px; }
.site-footer ul.social li { padding-left: 30px; }
.site-footer ul.social li.icon1 { background: url(images/icon1.png) no-repeat left center; }
.site-footer ul.social li.icon2 { background: url(images/icon2.png) no-repeat left center; }
.site-footer ul.social li.icon3 { background: url(images/icon3.png) no-repeat left center; }
.site-footer ul.social li.icon4 { background: url(images/icon4.png) no-repeat left center; }
.site-footer ul.social li.icon5 { background: url(images/icon5.png) no-repeat left center; }

.newsletter input[type="text"] { border-radius: 4px; border: none; width: 100%; padding: 8px 10px; font-size: 14px; color: #a19fa0; margin: 0 0 10px; }
.newsletter input[type="submit"] { border: none; background-color: #2d79a9; border-radius: 3px; color: #fff; padding: 8px 15px; font-size: 14px; }

.copyright { padding: 60px 0 0; }
.copyright p { font-size: 13px; margin: 0; color: #fff; }
.copyright p a { color: #fff; margin: 0 10px; }

.footer { position: relative; }
.top { z-index: 1; position: absolute; top: -60px; right: 0; background-color: #2d79a9; border-radius: 0 0 3px 3px; color: #fff; padding: 4px 10px; font-size: 10px; text-transform: uppercase; }

.breadcrumbs { width: 100%; height: 48px; background: url(images/bread.jpg) repeat-x; }
.breadcrumbs p { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 13px; margin: 0; color: #fff; padding: 14px 0; }
.breadcrumbs p span { color: #a8e2f7; }

.inner { padding: 40px 0 60px; background-color: #f3f3f3; }
.inner h1 { margin: 0 0 15px; font-size: 35px; font-family: 'MyriadProRegular'; }
.inner p { font-size: 15px; line-height: 26px; }
.inner a.contact-link { text-shadow: -1px -1px #414141; text-transform: uppercase; padding: 12px 25px; font-size: 18px; color: #fff; background-color: #2d79a9; border-radius: 3px; }

.founder { padding: 40px 0 0; }
.founder h3 { font-size: 22px; color: #3b3b3b; margin: 5px 0; font-family: 'MyriadProRegular'; }
.founder p.position { font-size: 14px; color: #6c6c6c; margin: 0; }
.founder p { font-size: 14px; color: #3b3b3b; line-height: 22px; }

.contact-details h3 { padding-left: 30px; font-size: 20px; margin: 20px 0 5px; color: #3b3b3b; }
.contact-details h3.address { background: url(images/address-icon.png) no-repeat left center; }
.contact-details h3.email { background: url(images/email-icon.png) no-repeat left center; }
.contact-details h3.phone { background: url(images/phone-icon.png) no-repeat left center; }
.contact-details h3.fax { background: url(images/fax-icon.png) no-repeat left center; }
.contact-details p { padding-left: 30px; margin: 0 0 30px; }

.contact-form {  }
.contact-form input[type="text"] { border: 1px solid #dddddd; width: 100%; margin: 10px 0 0; color: #58585a; font-size: 14px; padding: 10px 10px 10px 35px; }
.contact-form input[type="submit"] { border: none; text-shadow: -1px -1px #414141; text-transform: uppercase; padding: 12px 25px; font-size: 18px; color: #fff; background-color: #2d79a9; border-radius: 3px; margin: 10px 0 0; }
.contact-form textarea { border: 1px solid #dddddd; width: 100%; margin: 10px 0 0; color: #58585a; font-size: 14px; padding: 10px 10px 10px 35px; }

.contact-form input.name { background: url(images/input-name.png) no-repeat 10px center #fff; }
.contact-form input.email { background: url(images/input-email.png) no-repeat 10px center #fff; }
.contact-form input.phone { background: url(images/input-phone.png) no-repeat 10px center #fff; }
.contact-form input.company { background: url(images/input-company.png) no-repeat 10px center #fff; }
.contact-form textarea.message { background: url(images/input-message.png) no-repeat 10px 15px #fff; }

.parsley-error-list { padding: 0; margin: 0; list-style: none; }
.parsley-error-list li { font-size: 12px; color: #ff0000; }

/* This is for NON-Responsive Container ==
.container {
	max-width: none !important;
	width: 1008px; 
}*/


/* Navbar override styles here */
.navbar-collapse { padding: 0; }
.navbar-default { min-height: 1px; padding: 25px 0; border: none; background-color: transparent; margin: 0; float: right; }
.navbar-default .navbar-nav > li { margin-left: 20px; }
.navbar-default .navbar-nav > li > a { text-shadow: 1px 1px #fff; font-family: 'AkkuratBoldBold'; font-size: 14px; color: #777777; padding: 6px 10px; color: #161616; text-transform: uppercase; }
.navbar-default .navbar-nav > li.featured-nav > a { text-shadow: none; background-color: #2d79a9; border-radius: 3px; color: #fff; }



/* =MISC
----------------------------------------------- */
.half-bottom {margin-bottom: 10px;}
.half-top {margin-top: 10px;}
.add-bottom {margin-bottom: 20px;}
.add-top {margin-top: 20px;}

.nodisplay {display: none;}


/* =MEDIA QUERIES
----------------------------------------------- */

@media screen and (min-width: 75em) {
	/* width 1200px up */
}


@media only screen and (min-width: 62px) and (max-width: 75em) {
	/* 992px and 1200px */
}


@media screen and (max-width: 61.938em) {
	/* width: 991px; */
	.navbar-default .navbar-nav > li { margin-left: 5px; }
	.navbar-default .navbar-nav > li > a { font-size: 12px; }
	.banner-content a { font-size: 11px; }
}


@media screen and (max-width: 48em) {
	/* width 768px */
	.navbar-default { float: none; padding: 10px 0; }
	.navbar-nav { margin: 0; }
	.navbar-default .navbar-nav > li { margin-left: 0; }
	.service-list a { display: block; float: left; margin-bottom: 20px; }
	.manage-list a { display: block; margin-bottom: 20px; }
	.slider .bx-controls-direction { display: none; }
	.idea p { margin: 20px 0 10px; }
	.site-footer h5 { margin: 25px 0 15px; }
	.newsletter { margin: 0 0 25px; }
	.copyright p { margin: 0 0 20px; }
	.inner a.contact-link { display: block; text-align: center; margin: 0 0 20px; }
	.contact-form input[type="submit"] { margin: 10px 0 20px; }
	
	.site-branding img { width: 210px; }
	.navbar-header .navbar-toggle { margin: 0; position: absolute; right: 0; top: -48px; }
	
}


@media screen and (max-width: 30em) {
	/* width 480px */
	.banner-content p { font-size: 11px; }
	.banner-content a { font-size: 9px; margin: 0; padding: 4px 10px; }
	.service-list img { width: 100%; }
}