@{
    ViewBag.Title = "Resistration";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

@section Styles {
}

<div ui-view></div>

@section Scripts {
    <script src="~/Scripts/app/core/register-wizard.js"></script>
}
